html
  head
    title= title
  body
    h1= message
    - var nu = [1,2,3,4,5];
    - for ( var i = nu.length-1; i>=0; i--)
      p= nu[i]
      p Hola #{nu[i+1]}
    if true
      p.
        Hola haz click aqui #[a(href="http://marca.com") este link] por favor
    
    each item in nu
      p=item
      case item
        when 1
          p El item era 1
        when 2
          p El item era 2
        default
          p El item no era 1 ni 2    



    
    
